@charset "utf-8";
/* 도깨비 핵심공통 css - core.css */
/* 웹폰트 및 공통 클래스 */

/* 외부 파일 합치기 - 웹폰트(CDN) */
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Noto+Serif+KR:wght@500&family=Noto+Serif+KR:wght@500&display=swap');


/********** 공통 클래스 **********/
/* 스크롤바 디자인 클래스 */
/* -webkit- 벤더사명(크롬, 사파리)  접두어 */
.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기 변경 */

    width: 5px;
}

.scbar::-webkit-scrollbar-thumb {
    /* 스크롤바 */
    background-color: #aaa;
    border-radius: 3px;
}

.scbar::-webkit-scrollbar-track {
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 3px;
}

/* 속박스 클래스 */
.ibx {
    /* width: 1200px; */
    max-width: 1200px;
    /* 최대가로 크기 1200px이다가 화면이
    1200px 보다 작아지면 auto로 자동변경
    가로스크롤이 생기지 않는다! */
    margin: 0 auto;
    /* 위아래 양쪽(auto는 등분함) */
    /* 블록박스 가로중앙 */
}