@charset "utf-8";

/* 외부 파일 합치기 - 웹폰트(CDN) */
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Noto+Serif+KR:wght@500&family=Noto+Serif+KR:wght@500&display=swap');

/* 메인 css */
* {
    padding: 0px;
    margin: 0 auto;
    font-size: 10px;
    /* rem단위 계산을 쉽게하기 위해 10px로 셋팅! */
}

/* 헤딩태그 글자크기 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    /* 글자크기 100%는 기본글자크기와 같아지는 셋팅
    기본글자크기는 16px */
}

/* ul, ol 초기화 */
ul,
ol {
    list-style: none;
    /* 블릿 스타일 없앰 */
}


/* 작업진행중 외곽선 */
/* 별표시(*)는 모든요소를 선택시 사용 */
body * {
    /* outline: 1px dashed gray; */
    /* outline은 보더와 달리
    주변요소에 전혀 영향을 주지 않는다!
    그래서 border는 박스요소에 필수포함요소지만
    outline은 필수요소가 아니다!!!
    그리고 요소의 외곽선 바깥으로 보임!
    사용법은 border와 유사함
    outline: 두께 종류 색상; */
}

/* 컨텐츠 파트 최상위 부모 */
body {
    /* 한번에 배경주기!!! */
    /* background: 색상 이미지 반복여부 고정 위치/크기 */
    /* background: 색이반고윙/크 */
    background:
        url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
        url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
    /* 로고가 위에 와야해서 먼저 세팅 */
    overflow-x: hidden;

    /* 배경이미지  */

    /* 따로주기
    background-image: url(../images/bg_mainvisual.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */


    /* 1. 배경색 */
    /* background-color: lightpink; */
    /* background-color: lightpink; */

    /* 2. 배경이미지 - 기본적으로 반복됨(x,y방향) */
    /* background-image: url(../images/bg_logo_a_01.png); */
    /* background-image: url(../images/bg_logo_a_01.png); */
    /* 외부css인 경우 css파일위치에서 한단계위로 올라간 후
    이미지폴더를 찾는다!(경로에 주의!) ../ 는 한칸위로 */

    /* 3. 배경반복여부 */
    /* background-repeat: no-repeat; */
    /* background-repeat: no-repeat; */
    /*
        no-repeat 반복안함
        repeat-x x축반복
        repeat-y y축반복
    */
    /* 4. 배경이미지 고정하기 */
    /* background-attachment: fixed; */
    /* background-attachment: fixed; */
    /* fixed는 보이는 화면에 고정함! */

    /* 5. 배경이미지 위치변경 */
    /* background-position: center; */
    /* background-position: center; */
    /* background-position: right bottom; */
    /* background-position: 100px 200px; */
    /*
        background-position: 가로 세로;
        - 가로: px, % 등 단위 또는 left, center, right
        - 세로: px, % 등 단위 또는 top, center, bottom

    */
    /* 6.배경이미지 크기 */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: auto 200px; */
    /* background-size: 100px auto; */
    /* background-size: 100px 400px; */
    /*
        background-size: 가로 세로;
        - 가로 : px,% 등 단위 auto
        - 세로 : px,% 등 단위 auto
        -> 가로,세로중 한쪽만 크기주고 나머지는 auto일
        경우 이미지가 고유 비율을 유지한다!
        ->>> 특별한 값 :
        contain(비율유지 채우기-이미지모두 보임,빈틈있음)
        cover(비율유지 채우기-배경박스에 빈틈없이 채움)
    */
}

/* 애니 진행 동안 투명막 가리기 */
body::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9;
    background-color: #fff;
    opacity: 0;
    /* 애니메이션으로 일정 시간 뒤 없앰 */
    animation: coverDel .1s 7s forwards;
}

/* 애니 후 없애기 */
@keyframes coverDel {
    to {
        height: 0;
    }
}/* coverDel */

/********** 공통 클래스 **********/
/* 스크롤바 디자인 클래스 */
/* -webkit- 벤더사명(크롬, 사파리)  접두어 */
.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기 변경 */

    width: 5px;
}

.scbar::-webkit-scrollbar-thumb {
    /* 스크롤바 */
    background-color: #aaa;
    border-radius: 3px;
}

.scbar::-webkit-scrollbar-track {
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 3px;
}

/* 속박스 클래스 */
.ibx {
    /* width: 1200px; */
    max-width: 1200px;
    /* 최대가로 크기 1200px이다가 화면이
    1200px 보다 작아지면 auto로 자동변경
    가로스크롤이 생기지 않는다! */
    margin: 0 auto;
    /* 위아래 양쪽(auto는 등분함) */
    /* 블록박스 가로중앙 */
}


/******************* 1. 상단영역 *******************/
/* 겉박스 */
#top {
    /* 겉박스 */
    position: absolute;
    /* 앱솔을 준이유는 아래쪽 스테틱박스에 영향을 주기때문! */
    top: -127px;
    /* 위쪽에 숨겼다가 내려오는 애니메이션을 주기 위해 top 지정 */
    width: 100%;
    /* 크기를 화면에 채움! */
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    /* 애니메이션 */
    animation: topAni 0.5s ease-out 7s forwards;
    z-index: 99;
    /* 상단메뉴 위로 */
}

/* 상단박스 키프레임 */
@keyframes topAni {
    to {
        top: 0;
    }

}

/* topAni 키프레임 */

/* 속박스 */
.top {
    height: 125px;
}

/* 로고 박스 */
#logo {
    text-align: center;
    padding: 20px;
}

/* 로고 이미지 가로 크기 */
#logo img {
    width: 100px;
}

/******* 상단 sns / 회원가입 메뉴 *******/

.snsbx{ /* 최상위 박스 */
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    /* x축 방향으로 자기 크기의 절반 반대방향 이동(중앙정렬)  */
    width: 1200px;
    max-width: 100%;
    /* 1200 이었다가 화면이 줄어들면 100%로 변경 */
}

.sns {
    float: right;
    margin-right: 50px;
}

.sns ul::after{ /* clear 세팅 */
    content: '';
    display: block;
    clear: both;
}

.sns li{
    float: left;
    margin : 0 5px;
}

/* sns 메뉴용 li만 디자인 */
/* 두번째 li 이후 모든 li 형제들 : 틸드(~) 형제들 선택자 */
.sns li:nth-child(2)~li {
    width: 30px;
    height: 30px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    margin: 0 1px;
}
/* 스프라이트 기법을 이용하여 sns 아이콘 셋업 */
.sns li:nth-child(3):hover {/* 트위터 오버시 */
    background-position: 0 -30px;
}
.sns li:nth-child(4) {/* 인스타그램 */
    background-position: -30px 0;
}
.sns li:nth-child(4):hover {/* 인스타오버시 */
    background-position: -30px -30px;
}
.sns li:nth-child(5) {/* 페북 */
    background-position: -60px 0;
}
.sns li:nth-child(5):hover {/* 페북오버시 */
    background-position: -60px -30px;
}


.sns li:nth-child(2){ /* 회원가입 li */
    margin-right: 20px;
}


.sns a{
    color: #222;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.4rem;
    line-height: 30px;
}

/* sns 설명글 숨기기 */
.ir{
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/***************** GNB 메뉴 *****************/
.gnb {
    width: 573px;
    margin: 0 auto;
}

/* 가상요소로 clear 하기 */
.gnb>ul::after {
    content: '';
    display: block;
    clear: both;
}

/* 옆으로 흐르게 */
.gnb>ul>li {
    float: left;
    padding: 0 15px;
}

/* GNB 메뉴 링크 */
.gnb>ul>li>a {
    display: inline-block;
    /* 인라인블록이면 위아래로 영역이 줄간격만큼 확장됨! */
    color: #222;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.6rem;
    line-height: 40px;
    border-bottom: 4px solid #fff;
    /* 미리보더를 만들고 하위메뉴에 영향이 없도록함! */
}

/* 상위메뉴 li에 마우스 오버시 a요소 빨간색 하단보더넣기 */
.gnb>ul>li:hover>a {
    border-bottom: 4px solid red;
    /* 인라인블록이어서 보더가 크기에 영향을 미치지 않음! */
}


/* 서브 메뉴 */
.smenu {
    position: absolute;
    /* 서브메뉴숨기기 */
    z-index: 1;
    height: 0;
    overflow: hidden;
    /* 트랜지션 */
    transition: height .4s ease-out;
}

/* 서브메뉴 ol 세팅 */
.smenu>ol {
    padding: 10px 0;
}

/* 서브메뉴 a */
.smenu a {
    font-size: 1.4rem;
    line-height: 30px;

    /* 글자색+밑줄 */
    color: #222;
    text-decoration: none;
}

/* 하위메뉴가 있는 상위 li요소에 마우스 오버시
가상요소로 페이지 끝까지 차지하는 흰색배경 만들기  
클래스 sm이 부여된 li만 적용된다!*/
.gnb>ul>li.sm::after {
    content: '';
    display: block;
    /* div와 비슷! */
    position: absolute;
    top: 126px;
    /* 겉박스 하단보더 1px보이게 1px더함! */
    left: 0;
    /* 부모는? 보이는 화면 */
    width: 100%;
    /* 앱솔루트 크기에 %사용시 부모를 기준함! 
    보이는 화면이 부모! */
    height: 0px;
    background-color: #fff;
    /* 세부위치조정은 마진으로!!! */
    /* margin-top: 4px; */
    /* #top의 하단보더를 가리므로 아래쪽으로 위치이동함! */
    /* 트랜지션: 속시이지 */
    transition: height .4s ease-out;
}

/* li.sm에 마우스 오버시 가상요소 내려오기! */
/* 공통으로 하단보더설정 */
.gnb>ul>li.sm:hover::after {
    border-bottom: 2px solid red;
}

/* 상위 li에 마우스 오버 시 .smenu 보이기*/
/* 높이값 다르게 세팅 */

/* 프로그램 소개 */
.gnb>ul>li.sm.sm1:hover::after,
.gnb>ul>li.sm1:hover .smenu {
    height: 120px;
}

/* 동영상 */
.gnb>ul>li.sm.sm2:hover::after,
.gnb>ul>li.sm2:hover .smenu {
    height: 140px;
}

/* 사진첩 */
.gnb>ul>li.sm.sm3:hover::after,
.gnb>ul>li.sm3:hover .smenu {
    height: 100px;
}

/* 모바일용 햄버거 버튼 */
.ham {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 40px;
    transform: scaleX(1.5);

    /* 버튼 기본 디자인 없애기 */
    background-color: transparent;
    border: none;
    /* 모바일 아닐때 안보임 */
    display: none;
}

/* 버튼 모양 변경 위해 가상 요소로 내용 넣기 */
.ham::before {
    content: '≡';

}
/* 크롬 브라우저 버튼 포커스 아웃라인 제거 */
.ham:focus{
    outline: none;
}


/******************* 2. 메인 영역 *******************/
.cont {
    max-width: 1920px;
    /* 가장 큰 일반 해상도 크기로 최대가로크기 변경! */
    height: 800px;
    overflow: hidden;
    /* 자식요소 마진탑포함! */
    padding-bottom: 150px;
}

/* 캐릭터 부모박스 */
#cbx {
    width: 90%;
    /* 부모박스크기의 90%가로크기 */
    margin: 0 auto;
    /* 마영오! - 블록가로중앙 */
    margin-top: 527px;
    /* 윗쪽마진 400px + 127px(#top만큼)로 설정 */
    /* height: 300px; */
    /* background-color: rgba(144, 238, 144, 0.637); */

    /* overflow: hidden; */
    /* float해제를 위해! 
    -> 자식요소가 위로 올라갈때 가려져서 쓸 수 없음!!! */
    /* -> 가상요소로 마지막에 float해제설정하기! */
}

/* 가상 요소로 clear 설정 하기! */
#cbx::after {
    content: '';
    display: block;
    /* div와 비슷하게 블록으로 변경 */
    clear: both;
    /* float을 끊어서 부모가 자식을 인식함 */
}

/* 캐릭터 박스 공통 */
.cat {
    /* 4 등분 가로 크기는 몇%? */
    width: 24%;
    margin: 0 .5%;
    /* 0은 생략하고 소숫점 표기 가능 */
    /* 양쪽 마진은 0.5%씩 2개이므로 합이 1%임 이를 크기에 반영함. */
    float: left;
    /* 블록 요소를 옆으로 흘러가게 하기
    float 속성
    > left 값은 나는 왼쪽에 너는 오른쪽에 올라와!
    > right 값은 나는 오른쪽에 너는 왼쪽에 올라와!
    - 자식 요소가 float 된 경우 부모 요소는 높이값 0? -
    > 블록 자식 요소 float로 인해서 부모 요소가 높이값이 0인 경우
    다음과 같이 해결 한다.
    1. 부모 요소에 overflow : hidden을 준다.
    2. float 자식 요소 중에서 float이 아닌 마지막 요소에 float 해제 속성인 clear 설정 하기.
    */
    cursor: pointer;
    /* 커서 모양이 손가락 모양으로 변경 */

    /* 애니메이션 변경 */
    transform: translateY(-200%);
    opacity: 0;
    animation: catAni 2s ease-out 3s alternate forwards;
}

/* 캐릭터 시차 */
.cat:nth-child(2) {
    animation-duration: 3.5s;
}

.cat:nth-child(3) {
    animation-duration: 4s;
}

.cat:nth-child(4) {
    animation-duration: 4.5s;
}

/* 캐릭터박스 키프레임 */
@keyframes catAni {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}


/* 캐릭터 이미지 박스 */
.ci {
    /* 트랜지션 */
    transition: margin-top .4s ease-out;
}


/* .cat에 마우스 오버 시 .ci 마진탑을 마이너스 설정 */
.cat:hover .ci {
    margin-top: -57%;
}

/* 캐릭터 이미지 */
.ci>img {
    width: 100%
        /* 이미지 크기를 싸고 있는 부모 박스 크기에 맞춰라
    세로 크기를 주지 않으면 auto */
}

/* 캐릭터 이름이미지 박스 */
.ci span {
    display: block;
    /* 블록으로 변경해서 부모박스 끝까지 차지함. */
    text-align: center;
    /* 인라인 요소 중앙 정렬 */
    margin-top: -21%;
    /* 부모높이값 기준 21%크기만큼
    반대방향(위쪽)으로 위치 이동함 */
}

/* 캐릭터 이름이미지 */
.ci span img {
    width: 40%;
    /* 부모박스(span)의 가로크기의 40%크기 */
}

/*
    [ 자식요소 선택 가상클래스 ]

    - 전제조건: 자식요소가 같은 종류일 경우
    :first-child 첫번째 자식
    :last-child 마지막 자식
    :nth-child(순번) 몇번째 자식
    - 순번은 1부터~!

    - 전제조건: 자식요소가 여러가지일 경우
    :first-of-type 첫번째 자식
    :last-of-type 마지막 자식
    :nth-of-type(순번) 몇번째 자식
    - 순번은 1부터~!
*/
/* 첫번째 이름이미지 숨기기 */
.ci span img:first-child {
    display: none;
}

/* .cat에 마우스 오버시 첫번째 이미지 보이기 */
.cat:hover .ci span img:first-child {
    display: inline;
}

/* .cat에 마우스 오버시 마지막 이미지 숨기기 */
.cat:hover .ci span img:last-child {
    display: none;
}

/* 캐릭터  설명 박스 */
.cd {
    height: 0px;
    /* .cat 오버시 250px로 높이값 변경! */
    overflow-y: scroll;
    /* y축 스크롤만 생겨서 넘치는 자식요소 보이기 */
    border-radius: 15px 0;
    /* 50%를 주게 되면 원형이 나옴 */
    /* 상 우 하 좌 순으로 따로 설정 가능 */
    background: url(../images/eachBG.jpg) no-repeat center/cover;
    /* background:색이반고윙/크; */
    margin-top: 15px;
    /* 트랜지션 : 속시이지 - trs */
    transition: height .4s ease-out;
    /* transition: .4; > 시간만 줘도 적용 됨.
    옵션이 모든 속성과 가속도는 기본 ease 적용 */
}

/*********************************************************************

    트랜지션(Transition) 애니메이션 효과 주기
    > 속성값을 변화 과정을 보여주면서 애니메이션 하는 속성
    transition : 속성 시간 이징 지연 > 속시이지
    1. 속성 : 변경 애니메이션 대상 속성
              (안쓰거나 all을 쓰면 모든 속성이 선택됨)
    2. 시간 - 애니메이션 시간 : 초 단위 (s)
    3. 이징 - 가속도
              1) ease : 앞뒤로 약간씩 느림(기본)
              2) ease-in : 처음에 천천히 나중에 빨라짐
              3) ease-out : 처음에 빨리 나중에 느려짐
              4) ease-in-out : 처음과 끝에 천천히
              5) linear : 등속도
              > 베지어 곡선으로 매우 다채롭게 가속도 조정 가능
    4. 지연 - 지연시간 즉, 처음에 대기시간(초단위s)
    5. 적용법 : 오버 시 원상복귀 되는 애니가 같다면
                오버전 원본에 한번만 설정하면 양방향 동일하게 적용
                만약 오버 시 / 오버 아웃 시 따로 주려면 각각 설정

*********************************************************************/

/* .cat에 오버시 높이값 변경! */
.cat:hover .cd {
    height: 250px;
}

/* 캐릭터 설명 타이틀 */
.cd h3 {
    font-family: 'Dokdo', cursive;
    font-size: min(2vw, 40px);
    font-weight: normal;
    padding: 5px;
}

/* 가상 요소로 타이틀 앞에 아이콘 보이기 */
.cd h3::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 30px;
    vertical-align: -5px;
    margin-right: 4px;
    background: url(../images/bg_logo_a_01.png) no-repeat right -184px;
}

/* 캐릭터 설명 내용 */
.cd p {
    font-family: 'Noto Serif KR', serif;
    font-size: min(1.5vw, 16px);
    line-height: 1.7;
    padding: 5px;
    /* 양쪽 정렬 */
    text-align: justify;
}

/* 캐릭터 설명 내용 첫번째 글자 강조 가상요소로 변경 */
.cd p:first-of-type::first-letter {
    color: crimson;
    font-size: min(4vw, 30px);
    font-style: normal;
    /* 그림자로 글자에 테두리 주기 */
    text-shadow: 1px 0 #000, -1px 0 #000,
        0 1px #000, 0 -1px #000;
}

/* 도깨비 문구 이미지 */
#dtxt {
    position: absolute;
    /* 부모는?  보이는 화면 */
    top: 150px;
    right: 350px;
    width: min(25vw, 327px);
    /* 이미지의 최대 크기 제한,
    둘중에 작은걸 선택 하도록 */

    /* 변경 애니 속성 2가지 */
    transform: translate(100%, 50%);
    opacity: 0;
    /* 애니메이션 : 이시이지반방마 */
    animation: dtxtAni 2s ease-in-out 1s forwards;
}

/* 도깨비 문구 키프레임 */
@keyframes dtxtAni {
    to {
        transform: translateY(0, 0);
        opacity: 1;
    }
}

/* dtxtAni 키프레임 */


/******************* 3. 하단 영역 *******************/
/* 겉박스 */
#info {
    background-color: rgba(255, 255, 255, 0.7);
}

/* 속박스 */
.info {
    position: relative;
    /* 부모자격부여 - .sel 선택박스 */
    height: auto;
    padding: 15px;
    box-sizing: border-box;
    /* 크기유지 - 보더 패딩 포함 */
}

.blink {
    max-width: 845px;
    margin: 0 auto;
}

/* 가상요소로 clear 하기 */
.blink>ul::after {
    content: '';
    display: block;
    clear: both;
}

/* 옆으로 흐르게 */
.blink>ul>li {
    float: left;
    padding: 0 15px;
}

/* 하단 메뉴 링크 */
.blink>ul>li>a {
    color: #000;
    text-decoration: none;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font: bold 1.4rem/2.8 'Noto Sans KR', sans-serif;
    /*
        font 한번에 세팅하기
        font : 스두크/줄체
        font : 스타일 두께 크기/줄간격 글자체
    */
}

.blink>ul>li>a:hover {
    text-decoration: underline;
    color: crimson;
}


/* 회사 주소 박스 */
.addr {
    max-width: 785px;
    margin: 10px auto;
    border: 4px double #222;
    font: 1.4rem/2 'Noto Sans KR', sans-serif;
    text-align: center;
    /* 원래 address 요소는 italic 체인데 폰트 한번에 쓰기에서
        스타일 설정을 하지 않으면 기본 normal이 적용됨. */
    padding: 10px;
    box-sizing: border-box;
    word-spacing: -3px;
}

/* 하단 로고 박스 */
.blogo {
    text-align: center;
}
/* 브랜드 바로가기 */
#sel {
    font: 1.4rem/2 'Noto Sans KR', sans-serif;
    position: absolute;
    top: 20px;
    right: 30px;
    /* 부보는 .info */
    padding: 5px;
}