@charset "utf-8";

/* 외부 파일 합치기 - 웹폰트(CDN) */
@import url('https://fonts.googleapis.com/css2?family=Dokdo&family=Noto+Serif+KR:wght@500&family=Noto+Serif+KR:wght@500&display=swap');

/* 메인 css */
* {
    padding: 0px;
    margin: 0 auto;
}

/* 헤딩태그 글자크기 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    /* 글자크기 100%는 기본글자크기와 같아지는 셋팅
    기본글자크기는 16px */
}

/* ul, ol 초기화 */
ul,
ol {
    list-style: none;
    /* 블릿 스타일 없앰 */
}


/* 작업진행중 외곽선 */
/* 별표시(*)는 모든요소를 선택시 사용 */
body * {
    /* outline: 1px dashed gray; */
    /* outline은 보더와 달리
    주변요소에 전혀 영향을 주지 않는다!
    그래서 border는 박스요소에 필수포함요소지만
    outline은 필수요소가 아니다!!!
    그리고 요소의 외곽선 바깥으로 보임!
    사용법은 border와 유사함
    outline: 두께 종류 색상; */
}

/* 컨텐츠 파트 최상위 부모 */
body {
    /* 한번에 배경주기!!! */
    /* background: 색상 이미지 반복여부 고정 위치/크기 */
    /* background: 색이반고윙/크 */
    background:
        url(../images/bg_logo_a_01.png) no-repeat fixed 10% 30%/10%,
        url(../images/bg_mainvisual.jpg) no-repeat fixed center/cover;
    /* 로고가 위에 와야해서 먼저 세팅 */

    /* 따로주기
    background-image: url(../images/bg_mainvisual.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; */


    /* 1. 배경색 */
    /* background-color: lightpink; */
    /* background-color: lightpink; */

    /* 2. 배경이미지 - 기본적으로 반복됨(x,y방향) */
    /* background-image: url(../images/bg_logo_a_01.png); */
    /* background-image: url(../images/bg_logo_a_01.png); */
    /* 외부css인 경우 css파일위치에서 한단계위로 올라간 후
    이미지폴더를 찾는다!(경로에 주의!) ../ 는 한칸위로 */

    /* 3. 배경반복여부 */
    /* background-repeat: no-repeat; */
    /* background-repeat: no-repeat; */
    /*
        no-repeat 반복안함
        repeat-x x축반복
        repeat-y y축반복
    */
    /* 4. 배경이미지 고정하기 */
    /* background-attachment: fixed; */
    /* background-attachment: fixed; */
    /* fixed는 보이는 화면에 고정함! */

    /* 5. 배경이미지 위치변경 */
    /* background-position: center; */
    /* background-position: center; */
    /* background-position: right bottom; */
    /* background-position: 100px 200px; */
    /*
        background-position: 가로 세로;
        - 가로: px, % 등 단위 또는 left, center, right
        - 세로: px, % 등 단위 또는 top, center, bottom

    */
    /* 6.배경이미지 크기 */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: auto 200px; */
    /* background-size: 100px auto; */
    /* background-size: 100px 400px; */
    /*
        background-size: 가로 세로;
        - 가로 : px,% 등 단위 auto
        - 세로 : px,% 등 단위 auto
        -> 가로,세로중 한쪽만 크기주고 나머지는 auto일
        경우 이미지가 고유 비율을 유지한다!
        ->>> 특별한 값 :
        contain(비율유지 채우기-이미지모두 보임,빈틈있음)
        cover(비율유지 채우기-배경박스에 빈틈없이 채움)
    */
}

/********** 공통 클래스 **********/
/* 스크롤바 디자인 클래스 */
/* -webkit- 벤더사명(크롬, 사파리)  접두어 */
.scbar::-webkit-scrollbar {
    /* 전체 스크롤바 크기 변경 */

    width: 5px;
}

.scbar::-webkit-scrollbar-thumb {
    /* 스크롤바 */
    background-color: #aaa;
    border-radius: 3px;
}

.scbar::-webkit-scrollbar-track {
    /* 스크롤바 트랙 */
    background-color: #ddd;
    border-radius: 3px;
}

/* 속박스 클래스 */
.ibx {
    /* width: 1200px; */
    max-width: 1200px;
    /* 최대가로 크기 1200px이다가 화면이
    1200px 보다 작아지면 auto로 자동변경
    가로스크롤이 생기지 않는다! */
    margin: 0 auto;
    /* 위아래 양쪽(auto는 등분함) */
    /* 블록박스 가로중앙 */
}


/******************* 1. 상단영역 *******************/
/* 겉박스 */
#top {
    background-color: #fff;
    border-bottom: 1px solid #aaa;
}

/* 속박스 */
.top {
    height: 125px;
}

/* 로고 박스 */
#logo {
    text-align: center;
    padding: 20px;
}

/* 로고 이미지 가로 크기 */
#logo img {
    width: 100px;
}

/* GNB 메뉴 */
.gnb {
    width: 602px;
    margin: 0 auto;
}

/* 가상요소로 clear 하기 */
.gnb>ul::after {
    content: '';
    display: block;
    clear: both;
}

/* 옆으로 흐르게 */
.gnb>ul>li {
    float: left;
    padding: 0 15px;
}

/* GNB 메뉴 링크 */
.gnb>ul>li>a {
    color: #000;
    text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    line-height: 40px;
    word-spacing: 2px;
}

/* 서브 메뉴 */
.smenu {
    position: absolute;
    /* 서브메뉴숨기기 */
    z-index: 1;
    height: 0;
    overflow: hidden;
    /* 트랜지션 */
    transition: height .3s ease-out;
}

/* 서브메뉴 ol 세팅 */
.smenu>ol {
    padding: 10px 0;
}

/* 서브메뉴 a */
.smenu a {
    font-size: 14px;
    line-height: 30px;

    /* 글자색+밑줄 */
    color: #222;
    text-decoration: none;
}

/* 하위 메뉴가 있는 상위 li 요소에 마우스 오버 시
    가상 요소로 페이지 가로를 모두 채우는 흰색 메뉴 배경
    클래스 sm이 부여된 li만 적용 된다. */
.gnb>ul>li.sm::after {
    content: '';
    display: block; /* div와 비슷한 성질을 지니게 됨. 블럭화 */
    position: absolute;
    /* top에 대한 설정이 없으므로 젠틀 앱솔루트.
    a 요소 아래에 위치한다. */
    width: 100%;
    left: 0;
    /* 앱솔루트의 크기에 %사용 시 부모를 기준함 */
    /* 위에 아무도 position이 선언 된 요소가 없으므로 화면이 부모가 됨 */
    background:#fff;
    height: 0px;

    /* 세부 위치 조정은 마진으로 */
    margin-top: 2px;
    /* #top에 하단 border를 가리므로 내려주어야 하는데
    top값을 주게되면 앱솔루트로 설정한 박스가 틀어지므로 margin을 이용 */

    /* 트랜지션 */
    transition: height .3s ease-out;
}

/* li.sm 마우스 오버 시 가상요소 내려오기 */
.gnb>ul>li.sm:hover::after{
    border-bottom: 2px solid crimson;
}

/* 상위 li에 마우스 오버 시 .smenu 보이기*/
/* 높이값 다르게 세팅 */

/* 프로그램 소개 */
.gnb>ul>li.sm.sm1:hover::after,
.gnb>ul>li.sm1:hover .smenu {
    height: 120px;
}
/* 동영상 */
.gnb>ul>li.sm.sm2:hover::after,
.gnb>ul>li.sm2:hover .smenu{
    height: 140px;
}
/* 사진첩 */
.gnb>ul>li.sm.sm3:hover::after,
.gnb>ul>li.sm3:hover .smenu{
    height: 100px;
}

/******************* 2. 메인 영역 *******************/
.cont {
    max-width: 1200px;
    /* 가장 큰 일반 해상도 크기로 최대가로크기 변경! */
    height: 800px;
    overflow: hidden;
    /* 자식요소 마진탑포함! */
}

/* 캐릭터 부모박스 */
#cbx {
    width: 90%;
    /* 부모박스크기의 90%가로크기 */
    margin: 0 auto;
    /* 마영오! - 블록가로중앙 */
    margin-top: 400px;
    /* 윗쪽마진 400px로 설정 */
    /* overflow: hidden; */
    /* float해제를 위해!
    > 자식 요소가 위로 올라갈 때 가려져서 쓸 수 없음. */
    /* > 가상 요소로 마지막에 오버 float 해제 설정하기 */
}

/* 가상 요소로 clear 설정 하기! */
#cbx::after {
    content: '';
    display: block;
    /* div와 비슷하게 블록으로 변경 */
    clear: both;
    /* float을 끊어서 부모가 자식을 인식함 */
}

/* 캐릭터 박스 공통 */
.cat {
    /* 4 등분 가로 크기는 몇%? */
    width: 24%;
    margin: 0 .5%;
    /* 0은 생략하고 소숫점 표기 가능 */
    /* 양쪽 마진은 0.5%씩 2개이므로 합이 1%임 이를 크기에 반영함. */
    float: left;
    /* 블록 요소를 옆으로 흘러가게 하기
    float 속성
    > left 값은 나는 왼쪽에 너는 오른쪽에 올라와!
    > right 값은 나는 오른쪽에 너는 왼쪽에 올라와!
    - 자식 요소가 float 된 경우 부모 요소는 높이값 0? -
    > 블록 자식 요소 float로 인해서 부모 요소가 높이값이 0인 경우
    다음과 같이 해결 한다.
    1. 부모 요소에 overflow : hidden을 준다.
    2. float 자식 요소 중에서 float이 아닌 마지막 요소에 float 해제 속성인 clear 설정 하기.
    */
    cursor: pointer;
    /* 커서 모양이 손가락 모양으로 변경 */
}

/* 캐릭터 이미지 박스 */
.ci {
    /* 트랜지션 */
    transition: margin-top .4s ease-out;
}


/* .cat에 마우스 오버 시 .ci 마진탑을 마이너스 설정 */
.cat:hover .ci {
    margin-top: -57%;
}

/* 캐릭터 이미지 */
.ci>img {
    width: 100%
        /* 이미지 크기를 싸고 있는 부모 박스 크기에 맞춰라
    세로 크기를 주지 않으면 auto */
}

/* 캐릭터 이름이미지 박스 */
.ci span {
    display: block;
    /* 블록으로 변경해서 부모박스 끝까지 차지함. */
    text-align: center;
    /* 인라인 요소 중앙 정렬 */
    margin-top: -21%;
    /* 부모높이값 기준 21%크기만큼
    반대방향(위쪽)으로 위치 이동함 */
}

/* 캐릭터 이름이미지 */
.ci span img {
    width: 40%;
    /* 부모박스(span)의 가로크기의 40%크기 */
}

/*
    [ 자식요소 선택 가상클래스 ]

    - 전제조건: 자식요소가 같은 종류일 경우
    :first-child 첫번째 자식
    :last-child 마지막 자식
    :nth-child(순번) 몇번째 자식
    - 순번은 1부터~!

    - 전제조건: 자식요소가 여러가지일 경우
    :first-of-type 첫번째 자식
    :last-of-type 마지막 자식
    :nth-of-type(순번) 몇번째 자식
    - 순번은 1부터~!
*/
/* 첫번째 이름이미지 숨기기 */
.ci span img:first-child {
    display: none;
}

/* .cat에 마우스 오버시 첫번째 이미지 보이기 */
.cat:hover .ci span img:first-child {
    display: inline;
}

/* .cat에 마우스 오버시 마지막 이미지 숨기기 */
.cat:hover .ci span img:last-child {
    display: none;
}

/* 캐릭터  설명 박스 */
.cd {
    height: 0px;
    /* .cat 오버시 250px로 높이값 변경! */
    overflow-y: scroll;
    /* y축 스크롤만 생겨서 넘치는 자식요소 보이기 */
    border-radius: 15px 0;
    /* 50%를 주게 되면 원형이 나옴 */
    /* 상 우 하 좌 순으로 따로 설정 가능 */
    background: url(../images/eachBG.jpg) no-repeat center/cover;
    /* background:색이반고윙/크; */
    margin-top: 15px;
    /* 트랜지션 : 속시이지 - trs */
    transition: height .4s ease-out;
    /* transition: .4; > 시간만 줘도 적용 됨.
    옵션이 모든 속성과 가속도는 기본 ease 적용 */
}

/*********************************************************************

    트랜지션(Transition) 애니메이션 효과 주기
    > 속성값을 변화 과정을 보여주면서 애니메이션 하는 속성
    transition : 속성 시간 이징 지연 > 속시이지
    1. 속성 : 변경 애니메이션 대상 속성
              (안쓰거나 all을 쓰면 모든 속성이 선택됨)
    2. 시간 - 애니메이션 시간 : 초 단위 (s)
    3. 이징 - 가속도
              1) ease : 앞뒤로 약간씩 느림(기본)
              2) ease-in : 처음에 천천히 나중에 빨라짐
              3) ease-out : 처음에 빨리 나중에 느려짐
              4) ease-in-out : 처음과 끝에 천천히
              5) linear : 등속도
              > 베지어 곡선으로 매우 다채롭게 가속도 조정 가능
    4. 지연 - 지연시간 즉, 처음에 대기시간(초단위s)
    5. 적용법 : 오버 시 원상복귀 되는 애니가 같다면
                오버전 원본에 한번만 설정하면 양방향 동일하게 적용
                만약 오버 시 / 오버 아웃 시 따로 주려면 각각 설정

*********************************************************************/

/* .cat에 오버시 높이값 변경! */
.cat:hover .cd {
    height: 250px;
}

/* 캐릭터 설명 타이틀 */
.cd h3 {
    font-family: 'Dokdo', cursive;
    font-size: 1.7em;
    padding: 5px;
}

/* 가상 요소로 타이틀 앞에 아이콘 보이기 */
.cd h3::before {
    /* content: '👹';
    font-size: 20px; */
    content: '';
    display: inline-block;
    width: 15px;
    height: 30px;
    vertical-align: -5px;
    margin-right: 4px;
    background: url(../images/bg_logo_a_01.png) no-repeat right -184px;
}

/* 캐릭터 설명 내용 */
.cd p {
    font-family: 'Noto Serif KR', serif;
    font-size: 0.8em;
    line-height: 1.6;
    padding: 5px;
    /* 양쪽 정렬 */
    text-align: justify;
}

/* 캐릭터 설명 내용 첫번째 글자 강조 가상요소로 변경 */
.cd p:first-of-type::first-letter {
    color: crimson;
    font-size: 2em;
    font-style: normal;
    /* 그림자로 글자에 테두리 주기 */
    text-shadow: 1px 0 #000, -1px 0 #000,
        0 1px #000, 0 -1px #000;
}

/******************* 3. 하단 영역 *******************/
/* 겉박스 */
#info {
    background-color: rgba(255, 255, 255, 0.7);
}

/* 속박스 */
.info {
    height: 241px;
    box-sizing: border-box;
    padding: 13px;
}

.blink {
    width: 785px;
    margin: 0 auto;
}

/* 가상요소로 clear 하기 */
.blink>ul::after {
    content: '';
    display: block;
    clear: both;
}

/* 옆으로 흐르게 */
.blink>ul>li {
    float: left;
    padding: 10px;
}

/* 하단 메뉴 링크 */
.blink>ul>li>a {
    color: #000;
    text-decoration: none;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font: normal bold 14px/39px 'Noto Sans KR', sans-serif;
    /*
        font 한번에 세팅하기
        font : 스두크/줄체
        font : 스타일 두께 크기/줄간격 글자체
    */
}

.blink>ul>li>a:hover {
    text-decoration: underline;
    color: crimson;
}


/* 회사 주소 박스 */
.addr {
    width: 785px;
    margin: 0 auto;
    border: 4px double #222;
    font: normal 14px/30px 'Noto Sans KR', sans-serif;
    text-align: center;
    /* 원래 address 요소는 italic 체인데 폰트 한번에 쓰기에서
        스타일 설정을 하지 않으면 기본 normal이 적용됨. */
    padding: 10px;
    box-sizing: border-box;
    word-spacing: -3px;
}

/* 하단 로고 박스 */
.blogo {
    text-align: center;
}