* {
    margin: 0;
    padding: 0;
}

ol, ul, li {
    list-style: none;
}

body * {
    outline: 1px solid green;
}

.disNone {
    display: none;
}

#cont{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
/* 배너 컨테이너 */
.rollingbanner{
    width: 100%;
}


.menuBtn ul {
    display: flex;
    justify-content: center;
}

.menuBtn li button{
    width: 140px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}