@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

* {
    padding: 0;
    margin: 0;
}
/* ul, ol 초기화 */
ul, ol {
    list-style: none;
    /* 블릿 스타일 없앰 */
}
.bgimg {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* 배경 이미지 */
    background-image:url('https://i.pinimg.com/564x/21/12/7e/21127ee5dbded3c96c4ee9abad7d61b6.jpg');
    /* 배경 반복 x */
    background-repeat: no-repeat;
    /* 배경 고정 */
    background-attachment: fixed;
    /* 배경 가운데 */
    background-position: center;
    /* 배경 꽉차게 */
    background-size : cover;
}


.tit {
    font-family: 'Hi Melody', cursive;
    font-weight: bolder;
    font-size: 4em;
    word-spacing : -10px;
    color: saddlebrown;
    text-align: center;
    /* 글자 중앙 정렬 > 글자가 아니어도 인라인 요소는 중앙 정렬 */
    margin-top: 10px;
}
.sub_tit {
    font-family: 'Hi Melody', cursive;
    font-weight: bolder;
    font-size: 2em;
    word-spacing : -5px;
    color:chocolate;
}

.logo{
    margin-bottom: -30px;
}


.logo img {
    width:100px;
    vertical-align: middle;
}
.wrap {
    width: 800px;
    margin: 50px auto;
    padding:30px;
    background-color: rgba(255, 255, 255, 0.5);
    /* 배경색 반투명 흰색 */
    border-radius: 30px;
    text-align: center;

}

li a {
    line-height: 30px;
    color:sienna;
    text-decoration: none;
}
li a:hover {
    font-weight: bold;
    color:chocolate;
    text-decoration:overline;
}
ul li::before{
    content: '🌰';
    padding-right: 5px;
    /*  */
}