
/* 상위메뉴 li에 마우스 오버시 a요소 하단보더넣기 */
.topMenu>ul>li:hover>a {
    border-bottom: 4px solid var(--font-color-navy);
}

.topMenu>ul>li.sm::after {
    content: '';
    display: block;
    position: absolute;
    top: 124px;
    left: 0;
    width: 100%;
    height: 0px;
    background: url(../img/subMenuBg.jpg) repeat;
    transition: height .4s ease-out;
}

.topMenu>ul>li.sm:hover::after {
    height: 20rem;
}



/* 서브 메뉴 */
.smenu {
    position: absolute;
    /* 서브메뉴숨기기 */
    z-index: 1;
    height: 0;
    overflow: hidden;
    /* 트랜지션 */
    transition: height .4s ease-out;
}

/* 서브메뉴 ol 세팅 */
.smenu>ol {
    padding: 10px 0;
}

/* 서브메뉴 a */
.smenu a {
    font-size: 1.4rem;
    line-height: 30px;

    /* 글자색+밑줄 */
    color: #222;
    text-decoration: none;
}
