@charset "utf-8";
/* 폰트
font-family: 'Lemon', cursive;
font-family: 'Noto Sans KR', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Noto+Sans+KR:wght@500&display=swap');

/*    
네이비 : #071F60
옐로우 : #ffe600
*/
:root {
    /* 폰트 컬러 전역 변수 선언 */
    --font-color-navy: #071F60;
    --font-color-yellow: #ffe600;
    --font-family-lemon: 'Lemon', cursive;
    --font-family-notoSan: 'Noto Sans KR', sans-serif;
}

/************************** 공통 css **************************/

/* 마진 / 패딩 / 폰트 사이즈 리셋 */
* {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

/* 헤딩 태그 글자 크기 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

/* 리스트 스타일 초기화 */
ul,
ol {
    list-style: none;
}

/* 작업 가이드라인 */
body * {
    /* outline: 1px dashed green; */
}

/* 대체 텍스트 */
.ir {
    display: block;
    width: 0;
    height: 0;
    overflow: hidden;
}

/* a 태그 확장 */
.a_ex {
    display: block;
    width: 100%;
    height: 100%;
}

/* 숨기기 */
.hidden {
    display: none;
}


/* 상단, 하단 크기 // 중앙 정렬 */
#top,
#bottom {
    margin: 0 auto;
    width: 144rem;
}



/************************ 상단 영역 *************************/

/* 상단 메뉴 드래그 up 하면 위에서 내려오고 드래그 down 하면 사라지고

우측 배너가 상단메뉴 라인에 따라서 올라갔다 내려갔다 할 수 있을까? */


#top {
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 상단 로고 */
.logo img {
    vertical-align: bottom;
    width: 20rem;
    height: 7rem;
}

/* 상단 GNB */
.topMenu>ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 12rem;
}

.topMenu>ul>li {
    padding: 0 5rem 0 5rem;
    box-sizing: border-box;
}

/* 맨 오른쪽 메뉴 우측 마진 x */
.topMenu>ul>li:last-child {
    padding: 0 0 0 5rem;
}

.topMenu>ul>li>a {
    display: inline-block;
    font-size: 2rem;
    height: 12rem;
    line-height: 12rem;
    text-decoration: none;
    font-family: var(--font-family-notoSan);
    color: var(--font-color-navy);
    border-bottom: 4px solid #fff;
}

.topMenu>ul>li:hover>a {
    border-bottom: 4px solid var(--font-color-navy);
}


/* 서브 메뉴 */
.smenu {
    position: absolute;
    /* 서브메뉴숨기기 */
    z-index: 3;
    height: 0;
    overflow: hidden;
    /* 트랜지션 선언_밑에 오버 시 height값 조정 */
    transition: height .3s ease-out;
}

/* 서브메뉴 ol 세팅 */
.smenu>ol {
    margin-top: 3rem;
}
.smenu>ol>li {
    margin-top: 2rem;
}

/* 서브메뉴 a */
.smenu a {
    font-family: var(--font-family-notoSan);
    color: var(--font-color-navy);
    font-size: 1.7rem;
    line-height: 1.7rem;
    text-decoration: none;
}

.smenu a:hover{
    text-decoration: underline;
}

/* 서브메뉴 BG */
.topMenu>ul>li.sm::after {
    content: '';
    /* div처럼 사용 */
    display: block;
    position: absolute;
    top: 122px;
    left: 0;
    width: 100%;
    height: 0px;
    background: url(../img/subMenuBg.jpg);
    /* 트랜지션 선언_밑에 오버 시 height값 조정 */
    transition: height .3s ease-out;
}


/* 상위 li에 마우스 오버 시 .smenu 보이기*/
.topMenu>ul>li.sm:hover::after,
.topMenu>ul>li:hover .smenu {
    height: 20rem;
}

/* 우측 고정 배너 */
.fixedBan {
    position: fixed;
    top: 0;
    margin-top: 14rem;
    right: 1vw;
    width: 12rem;
    height: 12rem;
    background: url(../img/fixNaviBan.png) no-repeat 0 0 / 100% 95%;
}

.fixedBan a {
    text-decoration: none;
}

/* 우측 고정 배너 텍스트 */
.fixScr {
    color: #fff;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    padding-top: 8.7rem;
    text-align: center;
}






/************************ 메인 영역 *************************/

#main {
    height: 100%;
}


/*********************** 메인1 영역 ***********************/
.cont1 {
    position: relative;
    z-index: -1;
    margin: 0 auto;
    width: 144rem;
}

.cont1 h2 {
    height: 85vh;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 5rem;
    box-sizing: border-box;
}

/* 메인1 타이포 */
.cont1 h2 span {
    width: 80rem;
    font-size: 9.5rem;
    line-height: 11rem;
    text-align: right;
    font-family: var(--font-family-lemon);
    color: var(--font-color-navy);
}

.cont1 h2 span:first-child {
    color: var(--font-color-yellow);
}

.cont1 h2 span:last-child {
    font-style: italic;
}


/* 메인 1 배경 */
.bgAni {
    position: absolute;
    z-index: -2;
    bottom: 0;
}

.bgAni img {
    width: 110%;
    vertical-align: bottom;
}

/*********************** 메인1 영역 끝 ***********************/


/*********************** 메인2 영역 ***********************/
.cont2 {
    overflow: hidden;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 10rem;
}

.cont2 h2 {
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cont2 h2 span {
    padding: .5rem;
    color: var(--font-color-navy);
}

.cont2 span:first-child {
    font-family: var(--font-family-notoSan);
    font-size: 4rem;
}

.cont2 span:last-child p {
    font-family: var(--font-family-notoSan);
    font-size: 2.5rem;
}

.cont2 span:nth-child(2),
.cont2 span:nth-child(3) {
    font-family: var(--font-family-lemon);
    font-size: 9rem;
}

/* 오른쪽 큰 원 */
.circleImg1 {
    position: relative;
    z-index: -1;
    $size: 100px;
    right: -75vw;
    top: -80vh;
    height: $size;
    width: $size;
    transform:
        translateX(calc(var(--mouse-x) * 0.15px)) translateY(calc(var(--mouse-y) * 0.15px));
}

.circleImg1 img {
    vertical-align: bottom;
    width: 40rem;
}


/* 왼쪽 큰 원 */
.circleImg2 {
    position: relative;
    z-index: -1;
    right: 20vw;
    top: -100vh;
    $size: 100px;
    height: $size;
    width: $size;
    transform:
        translateX(calc(var(--mouse-x) * 0.23px)) translateY(calc(var(--mouse-y) * 0.23px));
}

.circleImg2 img {
    vertical-align: bottom;
    width: 29rem;
}


/* 왼쪽 작은 원 */
.circleImg3 {
    position: relative;
    z-index: -1;
    right: 5vw;
    top: -95vh;
    $size: 100px;
    height: $size;
    width: $size;
    transform:
        translateX(calc(var(--mouse-x) * 0.15px)) translateY(calc(var(--mouse-y) * 0.152px));
}

.circleImg3 img {
    vertical-align: bottom;
    width: 15rem;
    height: 11rem;
}

/*********************** 메인2 영역 끝 ***********************/


/*********************** 메인3 영역 ***********************/

.cont3 {
    position: relative;
    width: 100%;
    height: 85rem;
    margin: 0 auto;
}

.cont3 h2 {
    display: flex;
    padding-top: 10rem;
    font-family: var(--font-family-notoSan);
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cont3 h2 span {
    font-size: 5rem;
    color: var(--font-color-navy);
    box-sizing: border-box;
}

.cont3 h2 span p {
    font-size: 2rem;
    color: var(--font-color-navy);
    box-sizing: border-box;
}


/* 버튼 ui */

.menuBtn ul {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.menuBtn li input {
    width: 14rem;
    height: 4rem;
    text-align: center;
    line-height: 3.8rem;
    font-size: 1.5rem;
    font-family: var(--font-family-notoSan);
    background: #fff;
    border: 1px solid #ccc;
    color: var(--font-color-navy);
    cursor: pointer;
}

.menuBtn li:first-child input {
    background: var(--font-color-yellow);
}

.menuBtn li input:hover {
    background: var(--font-color-yellow);
}

.drinkBg {
    position: relative;
    z-index: -9;
    width: 100%;
    height: 100%;
    background: url(../img/drinkShadow.png)repeat-x 0 0 /100% 50%;
    background-position: 0 70%;

}

.img-moving {
    position: absolute;
    z-index: -1;
    height: 35rem;
    top: 40rem;
    left: 0;
    right: 0;
    background: url("../img/drink/coffee.png") repeat-x left top;
    background-size: 310rem auto;
    animation: movement 15s linear infinite;
}

@keyframes movement {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position:  2426px 0px;
    }
}


/*********************** 메인3 영역 끝 ***********************/




/*********************** 메인4 영역 ***********************/

.cont4 {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.cont4 h2 {
    height: 60rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: var(--font-family-notoSan);
    margin-bottom: 10rem;
    background: url(../img/subMenuBg.jpg);
}

.cont4 h2 span {
    padding: 2rem;
    color: var(--font-color-navy);
}

.cont4 h2 span:first-child p {
    font-size: 5.5rem;
    color: var(--font-color-navy);
}

.cont4 h2 span:nth-child(2) p {
    font-size: 2rem;
    color: var(--font-color-navy);
}

.shopBtn {
    width: 25rem;
    height: 7rem;
    line-height: 6.5rem;
    background: var(--font-color-navy);
    border-radius: 1.6rem;
    border: 2px solid var(--font-color-navy);
    box-sizing: border-box;
    transition: .2s linear;
}

.shopBtn a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
}

.shopBtn:hover {
    background: #fff;
    border: 2px solid var(--font-color-navy);
}

.shopBtn:hover a {
    color: var(--font-color-navy);
}

/*********************** 메인4 영역 끝 ***********************/





/************************ 하단 영역 *************************/

/* 하단 전체 영억 */
#bottom {
    padding-bottom: 2vh;
}

/* 하단 로고 // 관련 링크 */
.btMenu {
    width: 144rem;
    height: 30rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

/* 하단로고 */
.btlogo img {
    vertical-align: bottom;
    width: 22rem;
}


/* 하단 sns 아이콘 */
.snsIcon {
    display: flex;
    justify-content: space-between;
    width: 7rem;
    padding: 1.5rem 0 1.5rem 0;
}

/* sns 아이콘 */
.fbIcon {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../img/sns_icon.png) no-repeat 0 0/200% 200%;
}

.fbIcon:hover {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../img/sns_icon.png) no-repeat 0 -3.2rem/200% 200%;
}

.istaIcon {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../img/sns_icon.png) no-repeat -3.2rem 0/200% 200%;
}

.istaIcon:hover {
    width: 3.2rem;
    height: 3.2rem;
    background: url(../img/sns_icon.png) no-repeat -3.2rem -3.2rem/200% 200%;
}


/* 관련 링크 */
.btLink {
    display: flex;
}

.btLink ul {
    width: max-content;
    padding: 0 5rem 0 5rem;
    box-sizing: border-box;

}

.btLink ul>li {
    display: flex;
}

.btLink ul>li a {
    font-size: 1.8rem;
    color: var(--font-color-navy);
    margin-bottom: 1.5rem;
    text-decoration: none;

}

.btLink ul>li:first-child a {
    font-weight: bold;
    color: var(--font-color-navy);
    font-size: 2rem;
    margin-bottom: 3rem;
}

.btLink ul>li a:hover {
    text-decoration: underline;
    color: #000;
}

/* 하단 관련사 링크 / 회사정보 영역 */
.btInfo {
    display: flex;
    /* 수직 정렬 */
    align-items: center;
    /* 가로 정렬 */
    justify-content: space-between;
    height: 10rem;
    box-sizing: border-box;
    padding-top: 1.5rem;
}

/* 관련사 링크 */
.familyLink {
    width: 30rem;
    height: 5rem;

}

.familyLink select {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    border: none;
    border-bottom: 2px solid #222;
    background-color: transparent;
}

.familyLink option {
    font-size: 2rem;
}


/* 회사 정보 */
.info {
    color: #666;
    font-size: 1.3rem;
    margin-right: 10rem;
}